.CouplePhoto-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.CouplePhoto {
  width: 100%;
  max-width: 500px; /* ajusta según qué tan grande quieras la foto */
  height: auto;
  border-radius: 12px; /* quita esta línea si no quieres bordes redondeados */
  object-fit: cover;
 
}