.footer-container {
  width: 100%;
  padding: 60px 20px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.footer-monograma {
  width: 180px;
  height: auto;
}

.footer-nombrefecha {
      margin-top: -150px;
  width: 350px;
  max-width: 180%;
  height: auto;
}

@media (min-width: 900px) {
  .footer-monograma {
    width: 280px;
  }

  .footer-nombrefecha {
    margin-top: -230px;
    width: 550px;
  }
}